{% extends "wells/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load template_function %}

{% block content %}
    {% specialspaceless %}
    <form  method="POST" onsubmit="submit()">
        
        {% csrf_token %}
        <button class="btn btn-danger pull-right" style="width: 10%; height: 50px" type="submit" >Save</button> <br/> <br/> 
        {{ form.management_form|crispy }}
        {% crispy form %}
    </form>
    {% endspecialspaceless %}
 

{% endblock content %}
